div#header
    a(href=`/account/${userAccount.Username}`) Home
    |
    a  | 
    |
    a(href=`/account/${userAccount.Username}/addFood`) Add Food
    |
    a  | 
    |
    a(href=`/account/${userAccount.Username}/customFood`) Custom Food
    |
    a  | 
    |
    a(href=`/account/${userAccount.Username}/exploreFood`) Explore Food
    |
    a  | 
    |
    a(href=`/`) Logout