html(lang="en")
    head 
        title #{title}
    body
        include ../partials/Header
        br
        div#main
            p
            //- each entry in Object.entries(foodList)            
            //-     - let key = entry[0];
            //-     - let value = entry[1];
            //-     each portionEntry in Object.entries(value.portions)
            //-         - let portion = portionEntry[0];
            //-         b #{value.FoodName}, #{portion}
            //-         br
            //-         p 
            //-         b 
            //-         br
            //-         button(onclick="addFood()") Add to daily total
            //-         br
            //-         br
            //-         br
    script(src=`/exploreFood.js`)