html(lang="en")
    head 
        title #{title}
        script(src="/exploreFood.js")
        script.
            var foodList = !{JSON.stringify(foodList)};
            var userAccount = !{JSON.stringify(userAccount)};
    body
        include ../partials/Header
        br
        div#main 
            p
                | Search 
                input#SearchBox
            table#data-table
                tbody
            button#prev-button Prev
            button#next-button Next
