html(lang="en")
    head 
        title #{title}
        script(src="/exploreFood.js")
        script.
            var foodList = !{JSON.stringify(foodList)};
            var userAccount = !{JSON.stringify(userAccount)};
    body
        div#main
            h1#Name
            h3 Portions:
            p#PortionTable
            p#SuccessMessages
        script(src="/foodInfo.js")