html(lang="en")
    head 
        title #{title}
        script(src="/exploreFood.js")
        script.
            var foodList = !{JSON.stringify(foodList)};
            var userAccount = !{JSON.stringify(userAccount)};
            var urlParameters = new URLSearchParams(window.location.search);
            var id = urlParameters.get('id')||0;
            var food = foodList[id];
    body
        include ../partials/Header
        div#main
            style.
                .collapsible {
                    background-color: #222;
                    color: gold;
                    cursor: pointer;
                    padding: 18px;
                    width: 100%;
                    border: none;
                    text-align: left;
                    outline: none;
                    font-size: 15px;
                }
                
                .active, .collapsible:hover {
                    background-color: #444;
                }
                
                .content {
                    padding: 0 18px;
                    display: none;
                    overflow: hidden;
                    background-color: #f1f1f1;
                }
            h1#Name
            button.collapsible(type='button') Macro Nutrients
            .content
                table#Macros
            button.collapsible(type='button') Vitamins
            .content
                table#Vitamins
            button.collapsible(type='button') Minerals
            .content
                table#Minerals
            h3 Portions:
            p#PortionTable
            p
                button(onclick="addToDailyTotal()")#addButton Add to my daily total 
            p
                button(onclick="removeFromDailyTotal()")#removeButton Remove from my daily total 
            p#SuccessMessages
        script(src="/foodInfo.js")
        script.
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                    content.style.display = "none";
                } else {
                    content.style.display = "block";
                }
                });
            }